body {
	padding-top: 20px;
	text-align: center;
}
.header {
	padding: 10px;
	display: inline-block;
	background: yellow;
}
a {
	text-decoration: none;
	color: black;
}
a :active{
	color: black;
}
a:hover { 
    background-color: yellow;
}
.list li {
	color: black;
	list-style: none;
	display: inline;
	padding: 10px;

}