<!DOCTYPE html>
{% load staticfiles %}
<html>	
	<head>
		<title>Rango</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
	</head>	
	<body>
		<div class="header">
			<h1>Rango says...Add your Category!</h1>
			<a href="/rango/"><- Go back!</a>
			<a href="/rango/about/">About</a>

		</div>

		<form id="page_form" method="POST" action="/rango/category/{{ category.slug }}/add_page/" style="margin-top: 20px">

			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
			{% endfor %}

			<input type="submit" name="submit" value="Add page" >
		</form>
		
	</body>
</html>