<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>Rango</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
	</head>	

	<body>
		<div class="header">
			<h1>Rango says...Hello Baby!</h1>
			<a href="/rango/about/">About</a>
			<a href="/rango/add_category/">Add a New Category</a>
		</div>	

		{% if categories %}
			<ul class="list">
				{% for category in categories %}
				 <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}

	</body>
</html>